<router-outlet></router-outlet>
<button mat-raised-button>Hello World</button>
<button mat-flat-button>Hello World</button>
<button mat-stroked-button>Hello World</button>
<button mat-fab>Hello</button>
<p class="mat-primary">Primary text</p>
<p class="mat-accent">Accent text</p>
<p class="mat-warn">Warning text</p>
<mat-button-toggle-group name="fontStyle" aria-label="Font Style" multiple>
  <mat-button-toggle value="bold">Bold</mat-button-toggle>
  <mat-button-toggle value="italic">Italic</mat-button-toggle>
  <mat-button-toggle value="underline">Underline</mat-button-toggle>
</mat-button-toggle-group>

<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
<mat-icon>alarm</mat-icon>


  <div class="demo-section">
    Button toggles badge visibility
    <button  matButton="elevated" matBadge="8" matBadgePosition="after" matBadgeSize="large" matBadgeColor="primary">
  Action
</button>
  </div>
  <div>
 <mat-spinner></mat-spinner>
  </div>
 
<div>
<mat-toolbar>
  <button matIconButton class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button matIconButton class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button matIconButton class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
</div>
  




